@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
body{
        background-color: rgb(250, 254, 255); 
}
html, body {
  overflow-x: hidden;
}
.bg-light-endpoints{
  background-color: rgb(250, 254, 255); 
}

#smooth-wrapper {
  overflow: hidden;
}
#smooth-content {
  will-change: transform;
}
h1, h2, h3, h4, h5, h6, p {
    font-family: 'Inter', sans-serif;color: #333;
}

a {
    font-family: 'Inter', sans-serif;
    text-decoration: none;
}
h1 {
    font-size: 6vw;
    line-height: 5.5vw;
    font-weight: 600;
    color: #333;
}
h3{
    font-size: clamp(32px, 2vw, 42px);
    font-weight: 500;
    line-height:clamp(30px, 2vw, 42px);
    margin-bottom: 1rem;
}


.logo-appear{
max-width: 300px; width: 20vw;min-width: 150px;  margin-left: 0.1rem;

}

.title-huge{
  font-size: clamp(60px, 5vw, 6vw);
  font-weight:600;
  line-height: clamp(60px, 5vw, 6vw);
}
.phrase-impact{
  font-size: clamp(24px, 2vw, 60px);
    font-weight: 400;
    line-height:clamp(28px, 2.2vw, 65px);
}
.word4 div{
  background: -webkit-linear-gradient(#1958f4, #17dddb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient-text{
  background: -webkit-linear-gradient(#1958f4, #17dddb) ;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}



.t-areas{
    height:clamp(320px, 50vh, 40vw);
    border-radius: 1.5rem;
    align-content: start;
    padding:clamp(30px, 2vw, 50px);

  background-color: #25272e;
  color: white;
}
.t-areas h3, .t-areas p{
  color:white
}
.row{
    overflow:hidden;
}









.font-huge{
    font-size: clamp(18px, 2vw, 42px);
    font-weight: 300;
    line-height:clamp(21px, 2vw, 42px);

}
.one-liner{
    font-size: clamp(42px, 3.8vw, 94px) ;
    line-height: clamp(42px, 3.8vw, 94px) ;
    font-weight:600;
  
}
  .point-btn{
    height: 20px;
    width: 20px;
    background-color: gray;
    margin:10px;
    display: inline-block;  
    border-radius: 100%;
    cursor: pointer;
    z-index: 1000;
  }
  .point-btn.active{
    background: #17dddb;
  }
  .slide-about{
    display: none;
    opacity: 0;
    transition: all ease 1s;
    
  }

  .slide-about.active{
    display:block;
    opacity: 0;
    transition: all ease 1s;
    animation: slide-in 600ms ease-out forwards;

  }
    .slide-about.exit{
      transition: all ease 1s;
   animation: slide-out 200ms ease-in forwards;
  }
  @keyframes slide-in {
  from {
    transform: translateX(50px);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}
  @keyframes slide-out {
  from {
    transform: translateX(0px);
    opacity: 1;
  }

  to {
    transform: translateX(50px);
    opacity: 0;
  }
}

.slide-about{
  position: relative;
}

.section-title{
  font-size: 32px;
  letter-spacing: 2px;
  line-height: 26px;
  font-variant: all-small-caps;
  color: #333;
  margin-top: 10px;
  margin-bottom:20px;

}

.row-padding {
padding: 0px 6.5vw
}


.animate-logo {
      width: 25vw;
      height: 25vw;
      display: block;
      position:absolute;
      left:40%;
      top:15%
    }
.line-stat{
  width: 99%;
  height: 2px;
  background: linear-gradient(to right, #1958F4, #17DDDB);
  margin: 10px 0px;

}
.stat-card{
  margin: clamp(10px,5vw,50px) 0px;

}
.stat-card h3{
  font-size: 21px;
}
.stat-title{
  font-weight: 300;
  font-size: clamp(48px,3vw,200px);
  line-height: 2vw;
}
.g-8 {
  --bs-gutter-x: 6vw;
}
.section-gy{
  padding-top:clamp(10px,10vh,10vw) ;
  padding-bottom:clamp(10px,10vh,10vw) ;
}
.section-gyb{
padding-bottom:clamp(10px,10vh,10vw) ;
}
.section-line{padding-bottom: clamp(10px,25vh,20vw);}

.no-cell{
display:block;
}
.only-cell{
  display: none;
}
.mb-custom{
  margin-bottom: clamp(0px,10vh,5vw);
}
.mb-endpoints{
  margin-bottom: clamp(10px,5vh,10vw)   ;

}
.logo-strip-container {
    overflow: hidden;
    width: 100%;
    background-color: #ffffff;
    padding: 20px 0;
  }

  .logo-strip-track {
    display: flex;
    align-items: center;
    width: max-content;
    animation: scroll 80s linear infinite;
  }

  .logo-strip-track img {
    height: 40px; /* Tamaño pequeño para evitar pixelación */
    margin: 0 25px;
    object-fit: contain;
    max-height: 100%;
    transition: transform 0.3s;
  }

  .logo-strip-track img:hover {
    transform: scale(1.1);
  }

  @keyframes scroll {
    0% { transform: translateX(0); }
    100% { transform: translateX(-50%); }
  }
@media (max-width: 767px) {
.mb-custom{
  margin-bottom: 0px;
}
  .no-cell{
display:none;
}
.only-cell{
  display: block;
}
      h1 {
    font-size: 9vw;
    line-height: 9vw;
    font-weight: 600;
    color: #333;
}
.section-line{padding-bottom:10px}
.section-gy{
  padding:  10px 0;
}
.section-gyb{
  padding-bottom:  10px;
}


      .title-huge{
  font-size: 9vw;font-weight:600;
  line-height: 9vw;
}

.font-huge{
    font-size: 21px;
    font-weight: 300;
    line-height: 21px;

}
.one-liner{
   font-size: 9vw;font-weight:600;
  line-height: 9vw;

}
.row-padding {
  
padding: 10px 10px
}


}

.btn-endpoints {
  background: linear-gradient(to left, #1958f4 30%, rgba(40, 53, 247,0) 40% );
  background-size: 500% 100%;
  background-position: right center;
  color: white;
  padding: 15px;
  height: 50px;
  width: 100%;
  max-width: 270px;
  border-radius: 50px;
  font-weight: 500;
  line-height: 15px;
  font-size: 24px;
  border: #1958F4 solid 1px;
  transition: all 0.5s ease;
}

.btn-endpoints:hover {
    border: #1958F4 solid 1px;
color: #1958F4;
  background-position: 0% center;
}
.logo-grid-proven {
  opacity: 1;
  pointer-events: none;
  transform-style: preserve-3d;
  perspective: 1000px;
  height: 100%;
}
.logo-item img {
  width: 60px;
  max-width: 100px;
  max-height: 25px;
  object-fit: contain;
  transition: transform 0.3s ease, filter 0.3s ease;
}
.logo-item:hover img {
  filter: grayscale(0%);
  transform: scale(1.2);
}

p.only-xl {
  display: none;
}

@media (min-width: 1088px) {
  p.only-xl {
    display: block;
    font-size: 45px;
    line-height: 35px;
  }
}
